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

# Backup
0_backup/

# Agents
AGENTS.md
CLAUDE.md

# UI-Konzepte
ui-concepts/

# Alter Code
legacy-code-alpha1/

# Dokumentationen
docs/
